@font-face {
  font-family: Ringbearer;
  src: url("/src/font/Ringbearer.ttf");
}

.quote {
  font-family: Ringbearer;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(110, 29, 29);
  margin-top: 20px;
  margin-bottom: 0;
}

.credits {
  font-family: Ringbearer;
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
}
